
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif
}
.container{
    width: 100%;
    height: 50;
     position: relative;
     padding: 30px;
     margin: 0%;
     height: 100%;
     background-color: #FFF9D8;
     
    /* top: 0;
    left: 0;
    width: 100%;
    min-height: 10vh;
    background-size: cover;
    z-index:-1 ;
    filter: blur(3px);  */
}
.container{
  overflow: hidden;
  background-color: #FFF9D8;
  
}
.text{
  float: left;
  width: 60%;
  padding-right: 20px;
  color: purple;
  background-color: #FFF9D8;

}
.image{
  float: right;
  width: 40%;
  margin-right: 0%;
  margin-top: 2.5%;

}
.all{
  background-color:#FFF9D8 ;
}
.text7{
  position: absolute;
  top: 50%;
  left: 28%;
  transform:(0%, -50%);
  text-align: center;
  color: goldenrod;
  font-weight: 100px;
  background-color: transparent;
}
  .heading2{
    text-align: center;
    font-weight:1000px ;
    color: purple;
    background-color: #FFF9D8;
    margin-left: -10%;
  }
  .heading8{
    text-align: center;
    font-weight:1000px ;
    font-size: larger;
    font-weight: bolder;
    color: rgb(119, 10, 119);
    margin-left: -110%;
    display: block;
    
    
    
  
   } 
/* .image-container8{
  margin-top:20px;
  text-align: center; */

/* } */
.image8{
  width: 100px;
  height: 100px;
  /* margin-left: -110%; */
  /* display: block;
  align-items: center; */
}

  .container2{
    /* display: flex; */
    
  }
  .container2{
    overflow: hidden;
    background-color: #FFF9D8;
    margin-left: -100%;
    margin-right: auto;
    float: none;
    margin-top: -20%;
    overflow:auto
    
  }
  .text2{
    float: right;
    width: 60%;
    padding-left: 20px;
    color: purple;
    position: absolute;
    top: 180%;
    left: 58%;
    transform:(0%, -50%);
    /* white-space: nowrap; */
    text-align: justify;
    margin-left: 0;
    margin-right: auto;

    
  
  }
 .image2{
  float: left;
  width: 30%;
  margin-left: 15%;
  margin-top: 5%;

  

 }
 
    


  
  .image-text{
    color: purple;
    text-align: center;
    font-weight: 1000px;
    float: left;
    width: 60%;
    padding-left:370px ;
    margin-top: -30px;
    margin-right:-250%;
    position: absolute;
    font-weight: bold;
  

    /* top: 87%;
    left: 25%;
    transform:(0%, -50%); */

    /* background-color: #FFF9D8; */
  }
  
.full-width-image{
  width: 100vw;
  height: 380px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  
}
.container-contact{
  width: 100%; /* Adjust the width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF9D8;
  margin-top: 30px;
  height: 300px;

}
.row-contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust the margin as needed */

}
.col-leftcontact, .col-rightcontact {
  width: 45%; /* Adjust the width as needed */
  padding: 10px;
}
.col-fullcontact{
  width: 100%;
  padding: 10px;
  width: 500px;
  height:0% ;

}
input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus, textarea:focus {
  border-color: #BAA8A8;
  border-width: 1px;
}
iframe{
  width: 100%;
  height: auto;
  position: relative;
  margin: 0;
  display: flex;
  margin-top: 30px;
}


  


body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	color: #666;
}

form {
	width: 50%;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
	margin-bottom: 20px;
	position: relative;
}

.label {
	display: block;
	margin-bottom: 10px;
	color: #666;
}

.form-control {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.radio {
	margin-right: 10px;
}

.radio-label {
	display: block;
	margin-bottom: 10px;
	color: #666;

}

.underline {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #ccc;
}

.submit-btn {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.submit-btn:hover {
	background-color: #f7a80b;
}



form {
	border: 3px solid #FF9900; /* Yellow border color */
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
	color: #7A288A; /* Purple color */
}

.submit-btn {
	background-color: #F7DC6F; /* Yellow color */
	color: #333;
	border: none;
	cursor: pointer;
	border-radius: 10px;
  font-size: 20px;
  width:200px ;
  height: 50px;
  margin-left: 200px;
}

.smaller-btn {
	padding: 5px 10px;
	font-size: 14px;
}










